#top-bar {
    background-color: rgb(90, 66, 55);
    color:rgb(100, 128, 165);
    font-size: xx-large;
    font-weight: 900;
    padding: 10px;
}

#search-section {
    margin-top: 10px;
    padding-top: 10px;
}

#search-section input {
    padding:10px 10px;
    margin: 0px 20px;
    border: 5px rgb(122, 41, 155);
    border-radius: 50px;
}

#search-section span {
    background-color: rgb(122, 95, 158);
    padding: 10px 10px;
    margin: 0px 20px;
    color: rgb(58, 30, 30);
    border-radius: 10px;
    cursor: pointer;    
}

#search-section span:hover {
    background-color: rgb(88, 64, 36);
}

#search-section img {
    height: 3.563rem;
    width: 2.563rem;
}

#search-section img:hover {
    background-color: rgb(88, 64, 36);
}

#creatures {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.a-creature img {
    height: 200px;
    width: 200px;
    display: flex;
}

.a-creature button {
    background-color: rgb(102, 100, 99);
    color:rgb(20, 26, 80);
    padding: auto;
    margin: 0px ;
}

#pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#pagination button span {
    margin-left: 5px;
    margin-right: 5px;
}

#pagination span {
    font-size: large;
    font-weight: bold;
    color: bisque;
}
